<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "employer/layouts/head" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="stretched stretched-custom" data-company="<%= @company.id %>">
    <div id="wrapper" class="clearfix">
      <%= render "employer/layouts/header" %>
      <%= render "shared/flash" %>
      <%= render "employer/layouts/sidebar" %>
      <div class="col-sm-9 col-md-9 main-content"><%= yield %></div>
    </div>
    <div id="gotoTop" class="icon-angle-up"></div>
    <%= javascript_include_tag "template" %>
  </body>
</html>
</div>
